[submodule "SubmoduleRepository"]
	path = SubmoduleRepository
	url = https://github.com/voki-semiantovic-k/SubmoduleRepository.git
[submodule "path/to/submodule"]
	path = path/to/submodule
	url = https://github.com/voki-semiantovic-k/SubmoduleRepository.git
